.given {
    font-size: 3.2vmin;
    margin-bottom: 40px;
}

.title {
    font-size: 3.2vmin;
    margin-top: 40px;
}

.subtitle {
    margin: 0px;
}

.table-container {
margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid white;
    text-align: left;
    padding: 10px;
    background-color: #36393e;
}

