.tableContainer {
    background-color: #424549;
    padding: 20px;
    border-radius: 3px;
    margin: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 90%;
}
  
.table{
    display: flex;
    flex-direction: column;
    width:max-content;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
  
.tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
  
.tableRow, .checkRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.primeImplicantEntries, .maxtermEntries, .maxtermColumn, .xEntries, .checkEntries {
    display: flex;               
    justify-content: center;      
    align-items: center;          
    text-align: center;           
    border-radius: 7px;
    background-color: #36393e;
    margin: 1px;
    line-height: 4vmin;
    padding-inline: 20px;
    white-space: nowrap;          
}

.checkRow .primeImplicantEntries, .checkRow .maxtermEntries, .checkEntries {
    background-color: transparent;
}

.primeImplicantEntries {
    min-width: 8vmax;
} 
  
.maxtermEntries {
    width: max-content;
    flex: 1;
}
  
.maxtermColumn, .xEntries, .checkEntries {
    min-width: 2vmax;
    width: auto;
}
  
.essential {
    background-color: #7289da;
}
  
.essentialFriend {
    background-color: #282b30;
}
  
.primeImplicantsDisplay{
    font-size: calc(5px + 2vmin);
    margin-bottom: 15vmin;
}

.legendContainer {
    background-color: #36393e;
    padding: 10px;
    padding-inline: 20px;
    padding-bottom: 40px;
    width: 55%;
    margin: auto;
    border-radius: 10px;
}

.legends {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 8vmin;
    justify-content: center;
}

.essentialDot {
    color: #7289da;
}

.essentialFriendDot {
    color: #282b30;
}