/* General Styling */
.App {
  text-align: center;
  font-family: "Comic Sans Regular";
}

.App-header {
  min-height: 21vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 5vmin);
  color: white;
}

.App-content {
  padding: 5vmin;
}

.App-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
}

.tab {
  background-color: #36393e;
  padding: 20px;
  color: white;
  width: 16vmax;
}

.tab:hover {
  background-color: #424549;
  cursor: pointer;
}

.tab.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none; 
}

.tab.active {
  background-color: #424549;
}

a {
  text-decoration: none;
}

/* Prime Implicant Table Styling */
.tableContainer {
  display: flex;
  flex-direction: column;
  background-color: #424549;
  padding: 10px;
  border-radius: 10px;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 10px;
}

.tableRow {
  display: flex;
  flex-direction: row;
}

.primeImplicantEntries, .mintermEntries, .xEntries {
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #292b30;
  margin: 1px;
}

.tableColumn, .primeImplicantEntries, .mintermEntries {
  width: 12vmax;
}

.mintermColumn, .xEntries {
  width: 5vmax;
}
